/* *{
    color: rgb(0, 0, 0); */

body{
    text-align: center;
    background-color: rgb(174, 203, 228);
    
}
header{
    border-radius: 19px;

    color: rgb(7, 255, 255);
    background-color: rgb(109, 95, 123);
    text-align: center;
}
section:hover{
    background-color: rgba(0, 255, 255, 0.253);
    margin-bottom: 12px;
    width: auto;
    border: solid;
    /* border-radius: 2%;
    text-decoration: none; */
}
section ul li{
list-style: none;
}
 .j1{
    color: blue;
 }
 a:hover{
    color: rgb(217, 245, 56);
    cursor: pointer;
 }


